body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-image: url("./../images/background1.png");
    background-repeat: no-repeat;
    background-size: cover;
}

/* ==============header============== */

header {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 1025px;
    height: 61px;
    margin-top: 45px;
}

.left-part {
    display: flex;
    flex-direction: row;
}

.color-change {
    position: relative; 
    width: 53px;
    height: 47px;
    
}

.color-change::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: url(./../images/logo\ 3.png);
}

.color-change:hover::before {
    background-image: url(./../images/logo\ 2.png);
}

.text-header {
    display: flex;
    flex-direction: column;
    text-decoration: none;
}

.text-header:hover span {
    color: #F26522;
}

.h1-header {
    color: #FFFFFF;
    text-transform: uppercase;
    font-family: Roboto;
    font-size: 29px;
    font-style: normal;
    font-weight: 700;
    line-height: 29px;
    margin-left: 65px;
}

.h2-header {
    color: #FFFFFF;
    text-transform: uppercase;
    font-family: Roboto;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 18px;
    margin-left: 65px;
}

.right-part a {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
}

.mail-header {
    color: #FFFFFF;
    font-family: Roboto;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 18px;
    text-decoration: none;
    margin-left: 733px;
    width: 219px;
    height: 21px;
}

.mail-header:hover {
    color: #F26522;
}

.tel-header {
    color: #FFFFFF;
    font-family: Roboto;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 18px;
    text-decoration: none;
    margin-left: 806px;
    margin-top: 19px;
    width: 146px;
    height: 21px;
}

.tel-header:hover {
    color: #F26522;
}

/* ==============main============== */

main {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 1028px;
    height: auto;
    margin-top: 45px;
}

.main-grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 54px;
    grid-row-gap: 113px;
}

/* ==============grid============== */

.all-container {
    color: #FFFFFF;
    text-align: center;
    font-family: Roboto;
    font-size: 18px;
    font-style: normal;
    font-weight: 400; 
}

.all-container {
    position: relative;
}

.text-under {
    display: flex;
    justify-content: center;
    position: absolute;
    margin-left: 90px;
    margin-top: 20px;
    color: #FFF;
    text-align: center;
    font-family: Roboto;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
}

.text-under:hover {
    color: #F26522;
    cursor: pointer;
}

.hover-container {
    position: relative;
    position: absolute;
    display: none;
    top: 164px;
    width: 299px;
    height: 55px;
    background-color: #F26522;

}

.from {
    position: absolute;
    top: 7px;
    left: 15px;
    color: #FFF;
    font-family: Roboto;
    font-size: 10px;
    font-style: normal;
    font-weight: 400;
}

.value {
    position: absolute;
    top: 30px;
    left: 15px;
    color: #FFF;
    font-family: Roboto;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
}

.details {
    position: absolute;
    top: 30px;
    left: 180px;
    color: #FFF;
    font-family: Roboto;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
}

.arrow {
    position: absolute;
    top: 30px;
    left: 280px;

}

.all-container:hover .form {
    display: inline;
}

.all-container:hover .hover-container {
    display: block;
}

/* ==============footer============== */

footer {
    margin-top: 100px;
}

.p-footer {
    color: #FFFFFF;
    text-align: center;
    font-family: Roboto;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 12px;
}